
@use '@angular/material' as mat;

@include mat.core();

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: 'Open Sans',
    density: -2,
  ));
}
